/* 
  Wing.css - https://kbrsh.github.io/wing/
  Made by Kabir Shah
  Using certain elements from the wing boilerplate to 
  achieve simple styling
*/

/*=============================
  Base Styles
=============================*/
* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  line-height: 1.6;
  color: #2b2b2b; /* Changed color from original */
  font-size: 16px;
  font-weight: 400;
  font-family: "Work Sans", sans-serif; /* Changed font from original */
}

@media screen and (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 12px;
  }
}

a {
  color: #81d4fa;
  /* color: #e1f5fe; */
}

/*=============================
  Grid
=============================*/
.app-container-day {
  background-color: #fffafa;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.app-container-night {
  /* background-color: #37474f; */
  background-color: #191919;
  height: 100vh;
  overflow: auto;
  width: 100%;
}

.container {
  width: 80%;
  max-width: 960px;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 10px;
  }
}

.row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}
.row:last-child {
  margin-bottom: 0;
}
.row .col {
  flex-grow: 1;
  flex-basis: 0;
}
.row .col-1 {
  width: 8.333333333333332%;
}
.row .col-2 {
  width: 16.666666666666664%;
}
.row .col-3 {
  width: 25%;
}
.row .col-4 {
  width: 33.33333333333333%;
}
.row .col-5 {
  width: 41.66666666666667%;
}
.row .col-6 {
  width: 50%;
}
.row .col-7 {
  width: 58.333333333333336%;
}
.row .col-8 {
  width: 66.66666666666666%;
}
.row .col-9 {
  width: 75%;
}
.row .col-10 {
  width: 83.33333333333334%;
}
.row .col-11 {
  width: 91.66666666666666%;
}
.row .col-12 {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .row .col,
  .row [class^="col-"],
  .row [class*=" col-"] {
    flex-grow: 0;
    flex-basis: 100%;
  }
}

/*=============================
  Typography
=============================*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Work Sans", sans-serif; /* Changed font from original */
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
h1 {
  font-size: 37.009px;
  line-height: 1.3;
}
h2 {
  font-size: 32.182px;
  line-height: 1.35;
}
h3 {
  font-size: 27.984px;
  line-height: 1.4;
}
h4 {
  font-size: 24.334px;
  line-height: 1.45;
}
h5 {
  font-size: 21.16px;
  line-height: 1.5;
}
h6 {
  font-size: 18.4px;
  line-height: 1.55;
}
p {
  font-size: 16px;
}
@media (max-width: 768px) {
  h1 {
    font-size: 33.311px;
  }
  h2 {
    font-size: 29.479px;
  }
  h3 {
    font-size: 26.088px;
  }
  h4 {
    font-size: 23.086px;
  }
  h5 {
    font-size: 20.43px;
  }
  h6 {
    font-size: 18.08px;
  }
  p {
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}

/*=============================
  Divider
=============================*/
hr {
  border-width: 0.5px;
  border-color: #a7a7a7;
  /* border-color: #e1f5fe; */
}

/*=============================
  Lists
=============================*/
ul {
  list-style: none;
  padding: 0;
}

/*=============================
  Post icons
=============================*/
.row-link {
  margin-top: 20px;
  margin-bottom: -20px;
}

.row-flex {
  display: flex;
  margin-bottom: 20px;
}

.row-icon {
  display: flex;
}

.row-icon a {
  text-decoration: none;
}

@media screen and (max-width: 600px) {
  .row-flex {
    flex-direction: column;
  }
}

.row-icon:not(:last-child) {
  margin-right: 16px;
}

.row-icon svg {
  width: 24px;
  height: 24px;
  margin-right: 6px;
  fill: #546e7a;
}

/*=============================
  Utilities
=============================*/
.text-left {
  text-align: left;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.flex {
  display: flex;
}
.center {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
