/* Base Setup */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222224;
  background-color: #e6ecf0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* App Accents */
.app-logo {
  font-family: 'Source Code Pro', monospace;
  font-size: 2.5rem;
  color: #2ED5EE;
}

.app-logo-symbol {
  fill: #2ED5EE;
  height: 2.5rem;
  width: 2.5rem;
}

/* App Container and Layout */
.container {
  position: relative;
  max-width: 128rem;
  min-width: 30rem;
  margin: 0 auto;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  max-width: 128rem;
  min-width: 30rem;
  width: 100%;
  margin: 0 auto;
}

.column {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
}

.spacer {
  margin: 2vw auto;
}

.queryOptions {
  position: absolute;
}

.queryOptions-button {
  display: flex;
  align-items: center;
  outline: none;
  border: none;
  
  padding: 0.5rem;
  cursor: pointer;
  background-color: rgb(254, 255, 255);
  border: 1px solid #d6d6d6;
  margin-right: 1vw;
}

.queryOptions-button--text {
  font-size: 1.6rem;
}

.queryOptions-definition {
  font-size: 1.6rem;
  margin-right: 1vw;
  font-family: 'Source Code Pro', monospace;
}

.queryOptions-dropdown {
  margin-left: 0.5vw;
  height: 2rem;
  width: 2rem;
  fill: #d6d6d6;
}

.queryOptions-menu {
  position: absolute;
  top: 3rem;
  z-index: 10;
}

.queryOptions-menu > li {
  list-style: none;
  background-color: #fff;
  padding: 0.5rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: 1px solid #d6d6d6;
  transition: all .3s;
}

.queryOptions-menu > li:hover {
  border-left: 4px solid #2ED5EE;
}

.search-bar {
  background-color: #fff;
  min-height: 8rem;
  padding: 1vw;

  display: flex;
  align-items: center;
  /* box-shadow: 0 0.5rem 1.5rem rgba(50, 50, 93, .2), 
  0 1.5rem 3.5rem rgba(0, 0, 0, 0.1); */
}

.search {
  border: none;
  outline: none;
  color: #5a6d7a;
  background-color: rgb(243, 244, 245);
  font-size: 2rem;
  padding: 1rem 1rem;
  width: 100%;
  border-radius: 1rem;
}

.search-button {
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1vw;
}

.search-divide {
  margin-left: 3vw;
}

.search-specify {
  width: 75%;
}

/* Loader */
.loading-text {
  font-family: 'Source Code Pro', monospace;
  font-size: 3.5rem;
  font-weight: bold;
  
  display: flex;
  justify-content: center;
}

/* posts */
.post-search-info {
  display: flex;
  justify-content: flex-end;
}

.post-card {
  border-top: 1px solid #d8d8d8;
  border-bottom: 1px solid #d8d8d8;
  background-color: #fff;
  width: 100%;
  display: block;
  padding: 1vw;
  color: #222224;
  font-size: 1.6rem;
}

.post-card > a {
  color: #222224;
}

.post-card > div > span > a {
  text-decoration: none;
  color: #222224;
}

.leave-a-space {
  margin: 0 1vw;
}

/* pagination */
.pagination-spacing {
  margin: 1vw auto;
}

.pagination-button {
  outline: none;
  border: none;
  
  text-decoration: underline;
  font-size: 1.6rem;
  padding: 0.5rem;
  background-color: transparent;
  cursor: pointer;
  margin-right: 1.5vw;
}

.pagination-button:hover:enabled {
  font-weight: bold;
}