/* Base Setup */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #222224;
  background-color: #e6ecf0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  position: relative;
  max-width: 140rem;
  min-width: 30rem;
  margin: 0 auto;
  padding: 2vw;
}